/* Combinador de descendientes */

.listas .lista {
  text-decoration: underline;
}

.todo .lista {
  list-style: decimal;
}

.dias .lista {
  list-style: none;
}

/* Combinador de hijos directos */

.listas > .lista {
  list-style: upper-roman;
}

.dias > .lista {
  color: orangered;
  font-weight: bold;
  font-size: 20px;
}

/* Combinador de hermano adyacente */

/* .subtitulo + .parrafo {
  background-color: yellow;
} */

/* Combinador de hermanos generales */

.subtitulo ~ .parrafo {
  background-color: tomato;
}