* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7996e;
}

.img {
  width: 250px;
  height: 250px;
  margin: 50px;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 30px; */

  border-radius: 50%;

  box-shadow: 0px 300px #000, 100px 200px 0 -76px #000,
    -100px 200px 0 -76px #000;
  /* 
    primer valor:
      offset-x
        perimite el moviemieto de derecha a izquierda
    
    segundo valor:
      offset-y
        perimite el moviemieto de arriba a abajo
    
    tercer valor:
      blur
        perimite el difumido de la sombra
    
    cuarto valor:
      spread
        difuminado de la sombra
    
    quinto valor:
      color
        color de la sombra
  */
}

.notebook {
  width: 300px;
  height: 400px;
  background-color: #7765b5;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px #fff, 20px 20px rgba(0, 0, 0, 0.13);
  padding-top: .1px;
}

.circle {
  width: 14px;
  height: 14px;
  background-color: white;
  color: white;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 7px;
  box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px;
  padding-top: .1px;
}

.line {
  margin-top: 4px;
  margin-left: -20px;
  background-color: #319073;
  color: #319073;
  width: 30px;
  height: 8px;
  border-radius: 10px;
  box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px;
}